@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 400;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(images/background.jpg) no-repeat center center/ cover;
    
}

.container{
    width: 550px;
    height: 550px;
    position: relative;
    max-width: 90vw;
}

.header{
    font-size: 1.2rem;
    font-weight: bold;
    border: solid 2px white;
    color: white;
    background-color: #262626;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    opacity: 0.7;
}
.main-content{
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    opacity: 0.6;
    position: relative;
}

.main-content .text-area{
    font-size: 1.4rem;
    line-height: 1.4;
}

.main-content .person{
    font-size: 1.6rem;
    color: darkred;
    text-transform: capitalize;
    margin-top: 20px;
    
}

.button-area button{
    background-color: #262626;
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    /* margin-top: 20px; */
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 0;
}

.button-area button:active{
    background-color: lightblue;
}